body {
  background: #225378;
}

button {
  background-color: #c9302c;
  border: #2e6da4;
  font-family: Arial,Geneva,Arial,Helvetica,sans-serif;
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: normal;
  border-radius: 4px;
  line-height: 1.5;
  cursor: pointer;
}

#form-submit {
  margin-top: 20px;
}

#formulation_form {
  width: 820px;
  min-height: 500px;
  margin: 0 auto;
  padding: 100px;
}

#formulation_form .form-input-row {
  padding: 10px 0;
}

#formulation_form .form-input-label {
  color: white;
  width: 120px;
  display: inline-block;
  line-height: 18px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

#formulation_form .form-input-label + * {
  width: 200px; 
  display: inline-block;
}

#formulation_form .form-input, #formulation_form input, #formulation_form select {
  padding: 6px 9px; 
  border: solid 1px #173955; 
  outline: 0; 
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #AACCE8), to(#FFFFFF)); 
  background: -moz-linear-gradient(top, #FFFFFF, #AACCE8 1px, #FFFFFF 25px); 
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border-radius: 4px;
  width: 200px;
}

.left-area {
  box-sizing: border-box;
  width: 400px;
  display: inline-block;
  vertical-align: top;
  padding-top: 40px;
}

.right-area {
  box-sizing: border-box;
  vertical-align: top;
  width: 400px;
  display: inline-block;
  min-height: 600px;
  border-left: 1px solid white;
  padding-top: 10px;
  padding-left: 70px;
}

#formulation-Info .percentage_slider {
  width: 180px;
  display: inline-block;
  margin-left: 20px;
  height: 34px;
  vertical-align: middle;
}

.border-bottom {
  border-bottom: 1px solid white;
  padding-bottom: 30px !important;
}